.permalink {
  max-width: 1112px;
  margin: 0 auto;
  padding: var(--raidus);
}

.pwinputform {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  align-content: stretch;
  align-items: stretch;
}

code {
  border-radius: 8px;
}
